"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake:
      enabled: false
  "advanced-open-file":
    createDirectories: true
  "atom-beautify":
    analytics: false
    beautifyEntireFileOnSave: false
    js_end_with_comma: true
    js_space_after_anon_function: true
  "atom-ternjs":
    lint: false
    useSnippets: true
  "autocomplete-plus":
    autoActivationDelay: 500
    backspaceTriggersAutocomplete: true
    confirmCompletion: "enter"
    defaultProvider: "Fuzzy"
    maxVisibleSuggestions: 30
    strictMatching: true
  "block-cursor":
    cursorType: "underline"
  "browser-plus":
    currentFile: false
    homepage: "browser-plus://history"
  "color-picker":
    uppercaseColorValues: true
  core:
    disabledPackages: [
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    packagesWithKeymapsDisabled: [
      "git-diff"
      "grammar-selector"
      "notifications"
      "autoflow"
      "python-tools"
      "bookmarks"
      "dev-live-reload"
      "encoding-selector"
      "link"
      "markdown-preview"
      "styleguide"
      "spell-check"
      "open-on-github"
      "advanced-open-file"
      "ask-stack"
      "atom-alignment"
      "activate-power-mode"
      "atom-beautify"
      "autocomplete-python"
      "bezier-curve-editor"
      "block-comment"
      "color-picker"
      "dash"
      "emmet"
      "expose"
      "figlet"
      "gist-it"
      "git-log"
      "git-blame"
      "git-history"
      "git-difftool"
      "git-control"
      "gulp-control"
      "highlight-line"
      "highlight-selected"
      "linter"
      "merge-conflicts"
      "node-debugger"
      "preview-plus"
      "recent-files-fuzzy-finder"
      "regex-railroad-diagram"
      "resize-indent"
      "symbols-tree-view"
      "todo-show"
      "project-manager"
      "tool-bar"
      "bracket-matcher"
      "git-plus"
      "find-and-replace"
      "build"
      "terminal-plus"
      "aligner"
      "compare-files"
      "split-diff"
      "symbols-view"
      "change-case"
      "asciidoc-preview"
      "open-in-browser"
      "atom-live-server"
      "script"
      "browser-plus"
      "git-projects"
    ]
    themes: [
      "atom-dark-ui"
      "monokai-blackboard"
    ]
  dash:
    filenames:
      Dockerfile: [
        "docker"
      ]
      Vagrantfile: [
        "vagrant"
      ]
      "package.json": [
        "npm"
      ]
    grammars:
      CSS: [
        "color"
      ]
      CoffeeScript: [
        "bluebird"
        "react"
        "jq"
        "atom"
        "awsjs"
      ]
      HTML: [
        "emmet"
        "htmle"
        "ionic"
        "semantic"
      ]
      JavaScript: [
        "node"
        "express"
        "sails"
        "hapi"
        "chai"
        "sinon"
        "jasmine"
        "jsdoc"
        "moment"
        "mori"
        "baconjs"
        "ampersandjs"
        "relay"
        "react"
        "jq"
        "handlebars"
        "ionic"
        "reactnative"
        "threejs"
        "d3"
        "b2"
        "phaser"
        "electron"
        "chrome"
        "atom"
        "http"
        "httpheader"
        "mime"
        "rfc"
        "mongodb"
        "mongoose"
        "pouchdb"
        "redis"
        "awsjs"
      ]
      LESS: [
        "color"
        "atom"
      ]
      "Objective-C": [
        "objc"
        "ios"
        "osx"
      ]
      Python: [
        "py"
      ]
      SCSS: [
        "scss"
        "susy"
        "semantic"
        "color"
        "media"
        "ionic"
      ]
      "Shell Scripts": [
        "nginx"
        "ufp"
      ]
      Swift: [
        "swift"
        "ios"
        "osx"
      ]
      TypeScript: [
        "typescript"
      ]
  editor:
    fontFamily: "Hack"
    invisibles: {}
    showIndentGuide: true
    zoomFontWhenCtrlScrolling: true
  emmet:
    useEmmetComments: false
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "find-and-replace":
    focusEditorAfterSearch: true
    openProjectFindResultsInRightPane: true
    scrollToResultOnLiveSearch: true
  "fuzzy-finder":
    preserveLastSearch: true
  "gist-it":
    newGistsDefaultToPrivate: true
  "git-blame":
    ignoreWhiteSpaceDiffs: true
  "git-blame-plus": {}
  "git-diff":
    showIconsInEditorGutter: true
  "git-history":
    showDiff: false
  "git-log":
    fontScale: 0.9
  "highlight-column":
    lineMode: true
  "highlight-line":
    enableSelectionBorder: true
  "highlight-selected":
    onlyHighlightWholeWords: false
  "indentation-indicator":
    indicatorPosition: "right"
  jumpy:
    useHomingBeaconEffectOnJumps: false
  "language-babel":
    transpileOnSave: false
  linter:
    lintOnFly: false
    showErrorTabFile: false
    showErrorTabProject: false
    statusBar: "Show all errors"
  "linter-jscs":
    displayAs: "jscs Warning"
    esnext: true
    onlyConfig: true
    preset: "node-style-guide"
  "markdown-preview":
    useGitHubStyle: true
  "markdown-writer":
    siteEngine: "hexo"
  minimap:
    adjustMinimapWidthToSoftWrap: false
    plugins:
      bookmarks: true
      codeglance: true
      "find-and-replace": true
      "git-diff": true
      "highlight-selected": true
      "minimap-autohide": false
      "minimap-hide": true
      pigments: false
      selection: true
      "split-diff": true
  "minimap-selection":
    highlightCursorsLines: true
  "node-debugger":
    nodePath: "/usr/local/bin/node"
  pigments:
    autocompleteScopes: [
      ".yss"
    ]
    groupPaletteColors: "by file"
    markerType: "dot"
    sortPaletteColors: "by color"
  "preview-plus":
    cjsx: "JavaScript"
    css: "SCSS"
    html: "browser"
  "recent-files-fuzzy-finder":
    restoreSession: true
  "relative-line-numbers":
    showNormalLineNumbers: false
  "release-notes":
    viewedVersion: "0.73.0"
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "split-diff":
    ignoreWhitespace: true
  tabs:
    usePreviewTabs: true
  "terminal-plus":
    core: {}
    style:
      animationSpeed: 2
      fontFamily: "Anonymous Pro"
      theme: "homebrew"
  "todo-show":
    sortBy: "File"
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "trailing-spaces":
    enableForCursorLines: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
