"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake:
      enabled: false
  "advanced-open-file":
    createDirectories: true
  "atom-beautify":
    general:
      analytics: false
      beautifyEntireFileOnSave: false
    js:
      end_with_comma: true
      space_after_anon_function: true
  "atom-css-comb":
    projectConfigs: ".csscomb"
    readyMadeConfigs: "csscomb"
  "atom-material-ui":
    colors:
      abaseColor: "#80deea"
      accentColor: "#528c94"
      predefinedColor: "Cyan"
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
  "atom-ternjs":
    lint: false
    useSnippets: true
  "autocomplete-plus":
    autoActivationDelay: 500
    backspaceTriggersAutocomplete: true
    confirmCompletion: "enter"
    defaultProvider: "Fuzzy"
    maxVisibleSuggestions: 30
    strictMatching: true
  "autocomplete-python":
    useKite: false
  "autocomplete-ruby":
    rsensePath: "/usr/local/bin/rsense"
  "block-cursor":
    cursorType: "underline"
  "browser-plus":
    currentFile: false
    homepage: "browser-plus://history"
  build:
    notificationOnRefresh: true
    scrollOnError: true
  "color-picker":
    uppercaseColorValues: true
  "copy-as-rtf":
    fontface: "Hack"
    style: "monokai"
  core:
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "Stylus"
      "activate-power-mode"
      "autoclose-html"
      "ex-mode"
      "expose"
      "terminal-plus"
      "relative-line-numbers"
      "python-tools"
      "preview"
      "language-nginx"
      "language-apache"
      "jquery-snippets"
      "git-difftool"
      "git-control"
      "javascript-snippets"
      "asciidoc-preview"
      "node-debugger"
      "symbols-tree-view"
      "atom-yeoman"
      "json-schema"
      "minimap-autohide"
      "linter-tslint"
      "vim-mode"
      "atom-typescript"
      "highlight-column"
      "react"
      "browser-plus"
      "build-grunt"
      "linter-golinter"
      "vim-surround"
      "markdown-preview"
      "term3"
      "compare-files"
      "autocomplete-ruby"
      "python-indent"
      "kite"
      "Hydrogen"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "git-diff"
      "grammar-selector"
      "notifications"
      "autoflow"
      "python-tools"
      "bookmarks"
      "dev-live-reload"
      "encoding-selector"
      "link"
      "markdown-preview"
      "styleguide"
      "spell-check"
      "open-on-github"
      "advanced-open-file"
      "ask-stack"
      "atom-alignment"
      "activate-power-mode"
      "atom-beautify"
      "bezier-curve-editor"
      "block-comment"
      "color-picker"
      "dash"
      "emmet"
      "expose"
      "figlet"
      "gist-it"
      "git-log"
      "git-blame"
      "git-history"
      "git-difftool"
      "git-control"
      "gulp-control"
      "highlight-line"
      "highlight-selected"
      "linter"
      "merge-conflicts"
      "node-debugger"
      "preview-plus"
      "recent-files-fuzzy-finder"
      "regex-railroad-diagram"
      "resize-indent"
      "symbols-tree-view"
      "todo-show"
      "project-manager"
      "tool-bar"
      "bracket-matcher"
      "git-plus"
      "find-and-replace"
      "terminal-plus"
      "aligner"
      "compare-files"
      "split-diff"
      "symbols-view"
      "change-case"
      "asciidoc-preview"
      "open-in-browser"
      "atom-live-server"
      "script"
      "browser-plus"
      "git-projects"
      "build"
      "autocomplete-python"
      "turbo-javascript"
      "git-time-machine"
      "open-recent"
      "keybinding-cheatsheet"
      "platformio-ide-terminal"
      "markdown-preview-plus"
      "hyperclick"
      "copy-as-rtf"
      "fuzzy-finder"
      "minimap-highlight-selected"
      "zentabs"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-material-syntax-dark"
    ]
  "custom-title":
    template: "<% if (fileInProject) { %><%= projectName %>/<%= relativeFilePath %><% } else { %><%= filePath %><% } %><% if (projectPath) { %> - <%= projectPath %><% } %>"
  dash:
    filenames:
      Dockerfile: [
        "docker"
      ]
      Vagrantfile: [
        "vagrant"
      ]
      "gulpfile.babel.js": [
        "gulp"
      ]
      "gulpfile.js": [
        "gulp"
      ]
      haproxy: [
        "haproxy"
      ]
      "haproxy.cfg": [
        "haproxy"
      ]
      "package.json": [
        "npm"
        "license"
      ]
    grammars:
      "Babel ES6 JavaScript": [
        "express"
        "lodash"
        "jq"
        "html"
        "d3"
        "js"
        "mongodb"
        "node"
        "redis"
        "mysql"
        "svg"
        "chai"
        "zepto"
        "cordova"
        "htmle"
        "http"
        "mongoose"
        "sinon"
        "moment"
        "awesome"
        "awsjs"
        "emoji"
        "color"
        "jsdoc"
        "mori"
        "elasticsearch"
        "chrome"
        "b2"
        "pouchdb"
        "reactnative"
        "httpheader"
        "threejs"
        "atom"
        "react"
        "gulp"
        "ascii"
        "mime"
        "ufp"
        "electron"
        "phaser"
        "relay"
        "rfc"
        "mocha"
        "keybase"
        "immutable"
        "draftjs"
        "htmlhe"
        "redux"
      ]
      C: [
        "c"
      ]
      CSS: [
        "css"
        "awesome"
        "color"
        "media"
        "semantic"
        "bootstrap"
        "pure"
      ]
      CoffeeScript: [
        "express"
        "lodash"
        "js"
        "node"
        "coffee"
        "atom"
        "http"
        "regex"
        "httpheader"
        "ascii"
        "mime"
        "bluebird"
        "async"
      ]
      Dart: [
        "dart"
      ]
      Go: [
        "http"
        "regex"
        "httpheader"
        "ascii"
        "mime"
      ]
      HTML: [
        "html"
        "svg"
        "htmle"
        "awesome"
        "color"
        "ascii"
        "mime"
        "semantic"
        "bootstrap"
        "pure"
      ]
      Haskell: [
        "haskell"
      ]
      JADE: [
        "jade"
      ]
      JavaScript: [
        "express"
        "lodash"
        "jq"
        "html"
        "d3"
        "js"
        "mongodb"
        "node"
        "redis"
        "mysql"
        "svg"
        "chai"
        "zepto"
        "cordova"
        "htmle"
        "http"
        "mongoose"
        "sinon"
        "moment"
        "awesome"
        "awsjs"
        "emoji"
        "color"
        "jsdoc"
        "mori"
        "elasticsearch"
        "chrome"
        "b2"
        "pouchdb"
        "reactnative"
        "httpheader"
        "threejs"
        "atom"
        "react"
        "gulp"
        "ascii"
        "mime"
        "ufp"
        "electron"
        "phaser"
        "relay"
        "rfc"
        "mocha"
        "keybase"
        "immutable"
        "draftjs"
        "htmlhe"
        "redux"
      ]
      LESS: [
        "css"
        "less"
        "awesome"
        "color"
        "media"
        "atom"
      ]
      Lisp: [
        "lisp"
      ]
      Lua: [
        "lua"
      ]
      Markdown: [
        "markdown"
      ]
      "Objective-C": [
        "xcode"
        "ios"
        "osx"
        "objc"
        "apple"
      ]
      Python: [
        "py"
        "mongodb"
        "redis"
        "mysql"
        "ansible"
        "http"
        "regex"
        "httpheader"
        "ascii"
        "mime"
      ]
      R: [
        "r"
      ]
      Ruby: [
        "puppet"
        "mongodb"
        "redis"
        "mysql"
        "rails"
        "ruby"
        "jekyll"
        "http"
        "regex"
        "httpheader"
        "ascii"
        "mime"
      ]
      Rust: [
        "rust"
        "ascii"
        "mime"
      ]
      SCSS: [
        "foundation"
        "css"
        "scss"
        "bourbon"
        "neat"
        "awesome"
        "color"
        "susy"
        "media"
        "semantic"
        "bootstrap"
        "pure"
      ]
      "Shell Scripts": [
        "manpages"
        "bash"
        "bashshortcuts"
        "omyzsh"
        "tmux"
        "ufp"
      ]
      Swift: [
        "xcode"
        "swift"
        "ios"
        "osx"
        "apple"
      ]
      TypeScript: [
        "typescript"
        "express"
        "lodash"
        "jq"
        "html"
        "d3"
        "js"
        "mongodb"
        "node"
        "redis"
        "mysql"
        "svg"
        "chai"
        "zepto"
        "cordova"
        "htmle"
        "http"
        "mongoose"
        "sinon"
        "moment"
        "awesome"
        "awsjs"
        "emoji"
        "color"
        "jsdoc"
        "mori"
        "elasticsearch"
        "chrome"
        "b2"
        "pouchdb"
        "reactnative"
        "httpheader"
        "threejs"
        "atom"
        "react"
        "gulp"
        "ascii"
        "mime"
        "ufp"
        "electron"
        "phaser"
        "relay"
        "rfc"
        "mocha"
        "keybase"
        "immutable"
        "draftjs"
        "htmlhe"
        "redux"
      ]
      YAML: [
        "yaml"
      ]
  editor:
    fontFamily: "Hack"
    fontSize: 13
    invisibles: {}
    softWrap: false
    softWrapAtPreferredLineLength: false
    tabType: "soft"
    zoomFontWhenCtrlScrolling: true
  emmet:
    useEmmetComments: false
  "file-types":
    ".htmlhintrc": "source.json"
    ".stylelint": "source.yaml"
    "^Dockerfile-.*$": "source.dockerfile"
    "^Dockerfile\\..*$": "source.dockerfile"
    "^\\.env": "source.ini"
    conf: "source.ini"
    config: "source.ini"
    ect: "text.html.basic"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "find-and-replace":
    focusEditorAfterSearch: true
    projectSearchResultsPaneSplitDirection: "right"
    scrollToResultOnLiveSearch: true
  "fuzzy-finder":
    preserveLastSearch: true
  "gist-it":
    newGistsDefaultToPrivate: true
  "git-blame":
    ignoreWhiteSpaceDiffs: true
  "git-blame-plus": {}
  "git-diff":
    showIconsInEditorGutter: true
  "git-history":
    showDiff: false
  "git-log":
    fontScale: 0.9
  "git-projects":
    ignoredPatterns: "node_modules;.git;bower_components;.statictmp"
    maxDepth: 1
  "go-plus":
    panelDisplayMode: "closed"
  "highlight-column":
    lineMode: true
  "highlight-line":
    enableSelectionBorder: true
  "highlight-selected":
    onlyHighlightWholeWords: false
  "indentation-indicator":
    indicatorPosition: "right"
  "js-hyperclick":
    extensions: [
      ".js"
      ".jsx"
      ".ts"
      ".json"
    ]
  jumpy:
    highContrast: true
    useHomingBeaconEffectOnJumps: false
  "language-babel":
    autoIndentJSX: false
    transpileOnSave: false
  linter:
    statusBar: "Show all errors"
  "linter-eslint": {}
  "linter-jscs":
    esnext: true
    onlyConfig: true
  "linter-sass-lint":
    noConfigDisable: true
  "linter-stylelint":
    disableWhenNoConfig: true
  "linter-ui-default":
    showPanel: true
  "linter-write-good":
    severityLevel: "Warning"
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus":
    useGitHubStyle: true
  "markdown-writer":
    siteEngine: "hexo"
  minimap:
    adjustMinimapWidthToSoftWrap: false
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      codeglance: true
      codeglanceDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": false
      "minimap-autohideDecorationsZIndex": 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
      pigments: false
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "minimap-selection":
    highlightCursorsLines: true
  "node-debugger":
    nodePath: "/usr/local/bin/node"
  "open-recent":
    listDirectoriesAddedToProject: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments:
    autocompleteScopes: [
      ".yss"
    ]
    groupPaletteColors: "by file"
    markerType: "dot"
    sortPaletteColors: "by color"
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#111111"
      zBright: {}
    core: {}
    style:
      defaultPanelHeight: "20em"
      fontFamily: "Anonymous Pro"
      theme: "homebrew"
    toggles:
      autoClose: true
  "preview-plus":
    cjsx: "JavaScript"
    css: "SCSS"
    html: "browser"
  "recent-files-fuzzy-finder":
    restoreSession: true
  "relative-line-numbers":
    showNormalLineNumbers: false
  "release-notes":
    viewedVersion: "0.73.0"
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "split-diff":
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  tabs:
    usePreviewTabs: true
  term3:
    fontFamily: "Anonymous Pro"
    openPanesInSameSplit: true
  "terminal-plus":
    core: {}
    style:
      animationSpeed: 2
      defaultPanelHeight: "20em"
      fontFamily: "Anonymous Pro"
      theme: "homebrew"
  "todo-show":
    sortBy: "File"
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "trailing-spaces":
    enableForCursorLines: true
  "tree-view": {}
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-clipboard-plus": {}
  "vim-mode-plus":
    hideTabBarOnMaximizePane: false
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  zentabs:
    maximumOpenedTabs: 7
    neverCloseUnsaved: true
".babel.regexp.source":
  editor:
    softWrap: false
    softWrapAtPreferredLineLength: false
".css.source.styled":
  editor:
    softWrap: false
    softWrapAtPreferredLineLength: false
".gfm.source":
  editor:
    softWrap: false
    softWrapAtPreferredLineLength: false
".js.jsx.source":
  editor:
    softWrap: false
    softWrapAtPreferredLineLength: false
".json.source":
  editor:
    softWrap: false
    softWrapAtPreferredLineLength: false
".languagebabel.ttlextension":
  editor:
    softWrap: false
    softWrapAtPreferredLineLength: false
