packages: [
  ".bin"
  "activate-power-mode"
  "advanced-open-file"
  "aligner"
  "asciidoc-preview"
  "ask-stack"
  "atom-alignment"
  "atom-beautify"
  "atom-css-comb"
  "atom-handlebars"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-syntax-light"
  "atom-material-ui"
  "atom-monokai"
  "atom-ternjs"
  "atom-typescript"
  "atom-yeoman"
  "auto-detect-indentation"
  "autoclose-html"
  "autocomplete-go"
  "autocomplete-html-entities"
  "autocomplete-paths"
  "autocomplete-python"
  "autocomplete-ruby"
  "bezier-curve-editor"
  "block-comment"
  "browser-plus"
  "build"
  "build-cargo"
  "build-grunt"
  "build-gulp"
  "build-npm-apm"
  "builder-go"
  "busy"
  "change-case"
  "chester-atom-syntax"
  "clipboard-plus"
  "color-picker"
  "command-logger"
  "compare-files"
  "css-snippets"
  "custom-title"
  "dash"
  "docblockr"
  "editorconfig"
  "emmet"
  "ex-mode"
  "expose"
  "figlet"
  "file-icons"
  "file-types"
  "fizzy"
  "fizzy-syntax-theme"
  "flex-tool-bar"
  "gist-it"
  "git-blame"
  "git-control"
  "git-difftool"
  "git-history"
  "git-log"
  "git-plus"
  "git-projects"
  "git-time-machine"
  "go-config"
  "go-debug"
  "go-get"
  "go-plus"
  "godoc"
  "gofmt"
  "gometalinter-linter"
  "gorename"
  "hex"
  "highlight-column"
  "highlight-line"
  "highlight-selected"
  "html-entities"
  "hyperclick"
  "indent-guide-improved"
  "indentation-indicator"
  "isotope-ui"
  "javascript-snippets"
  "jquery-snippets"
  "js-hyperclick"
  "json-schema"
  "jumpy"
  "keybinding-cheatsheet"
  "language-apache"
  "language-asciidoc"
  "language-babel"
  "language-docker"
  "language-gitignore"
  "language-haskell"
  "language-ini"
  "language-json-comments"
  "language-latex"
  "language-lua"
  "language-nginx"
  "language-protobuf"
  "language-r"
  "language-restructuredtext"
  "language-rust"
  "language-scala"
  "language-svg"
  "language-swift"
  "language-vue"
  "linter"
  "linter-coffeelint"
  "linter-csslint"
  "linter-eslint"
  "linter-flow"
  "linter-golinter"
  "linter-hlint"
  "linter-htmlhint"
  "linter-js-yaml"
  "linter-jsonlint"
  "linter-less"
  "linter-package-json-validator"
  "linter-rust"
  "linter-sass-lint"
  "linter-shellcheck"
  "linter-stylelint"
  "linter-tslint"
  "linter-xmllint"
  "lodash-snippets"
  "markdown-preview-plus"
  "markdown-writer"
  "merge-conflicts"
  "minimap"
  "minimap-autohide"
  "minimap-bookmarks"
  "minimap-codeglance"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-hide"
  "minimap-highlight-selected"
  "minimap-pigments"
  "minimap-selection"
  "minimap-split-diff"
  "monokai"
  "monokai-blackboard"
  "monokai-seti"
  "native-ui"
  "navigator-go"
  "node-debugger"
  "npm-install"
  "nucleus-dark-ui"
  "open-in-browser"
  "open-recent"
  "package-sync"
  "pen-paper-coffee-syntax"
  "pigments"
  "platformio-ide-terminal"
  "preview"
  "preview-plus"
  "project-manager"
  "python-tools"
  "qolor"
  "racer"
  "react"
  "recent-files-fuzzy-finder"
  "regex-railroad-diagram"
  "relative-line-numbers"
  "resize-indent"
  "script"
  "seti-syntax"
  "seti-ui"
  "slack-ui"
  "spacegray-dark-ui"
  "split-diff"
  "stacktrace"
  "Stylus"
  "Sublime-Style-Column-Selection"
  "symbols-tree-view"
  "tabs-to-spaces"
  "term3"
  "terminal-plus"
  "test-package"
  "tester-go"
  "todo-show"
  "toggle-quotes"
  "tool-bar"
  "trailing-spaces"
  "travis-ci-status"
  "tree-view-git-status"
  "turbo-javascript"
  "unity-ui"
  "vim-mode"
  "vim-mode-clipboard-plus"
  "vim-mode-plus"
  "vim-surround"
]
